{% extends 'base.html' %}
{% block title %}My Dashboard{% endblock title %}
{% load static %}
{% block join_css %}
<link rel="stylesheet" href="{% static 'css/show_crud.css' %}">
{% endblock join_css %}


{% block body %}

<div style="margin-bottom: 70px;">
    <h1 class="text-center" style="margin-top: 10px; color: green; margin-bottom: 40px;">
        My Dashboard
    </h1>

    <div class="text-center" style="margin-bottom: 40px; margin-top: 20px;">
        <form method="get" action="{% url "filter" %}"> 
            Event Date:
            <input type="date" class="datepicker" name="eventDate" placeholder="Enter Event Date">
        
            Event Location:
            <input type="text" name="location" placeholder="Enter event location">
        
            <input type="submit" class="btn btn-primary" value="Filter">
        </form>
       
    </div>

    <table class="table table-success table-striped" style="width:95%; margin: auto; text-align:center; margin-top: 50px; margin-bottom: 50px;">
        <h1 class="text-center" style="margin-bottom: -30px; margin-top: 20px;">My Created Event</h1>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Owner</th>
            <th scope="col">Event Title</th>
            <th scope="col">Event Data</th>
            <th scope="col">Event Time</th>
            <th scope="col">Total Seat</th>
            <th scope="col">Details</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            

        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>      
                <th scope="row">{{ event.id }}</th>
                <td>{{ event.eventUser.username }}</td>
                <td>{{ event.eventTitle }}</td>
                <td>{{ event.eventDate }}</td>
                <td>{{ event.eventTime }}</td>
                <td>{{ event.totalSeat }}</td>
                <td><a href="{% url "event_details" event.id %}" class="btn btn-primary">Event Details</a></td>
                <td><a href="{% url "update_event" event.id %}" class="btn btn-warning">Update</a></td>
                <td><a href="{% url "delete_event" event.id %}" class="btn btn-danger">Delete</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-success table-striped" style="width:95%; margin: auto; text-align: center; margin-top: 50px;">
        <h1 class="text-center" style="margin-bottom: -30px; margin-top: 20px;">I have registered event as a guest</h1>
        <thead>
        <tr>
            <th scope="col">MyID</th>
            <th scope="col">Event ID</th>
            <th scope="col">My Full Name</th>
            <th scope="col">Which Event</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Person</th>
            <th scope="col">Details</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>      
                <th scope="row">{{ guest.id }}</th>
                <th scope="row">{{ guest.event.id }}</th>
                <td>{{ guest.firstName }} {{ guest.lastName }}</td>   
                <td>{{ guest.event.eventTitle }}</td>
                <td>{{ guest.email }}</td>
                <td>{{ guest.phoneNumber }}</td>
                <td>{{ guest.totalPerson }}</td>
                <td><a href="{% url "guest_details" guest.id %}" class="btn btn-primary">Details</a></td>
                <td><a href="{% url "update_guest" guest.id %}" class="btn btn-warning">Update</a></td>
                <td><a href="{% url "delete_guest" guest.id %}" class="btn btn-danger">Delete</a></td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div/>
{% endblock body %}