{% extends 'base.html' %}
{% block title %}Register Event{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
    <h1 style="width: 53%; margin: auto;text-align: left; padding: 15px; font-size: 40px">
        Register For The Event
    </h1>
    <br>
    
    <div style="width: 50%; margin: auto; margin-bottom: 100px;">
     
        <form method= 'POST' action="#">
            {% csrf_token %}

            {{forms|crispy}}
            <input class="btn btn-primary" type="submit" value="Register">

        </form>

    </div>
{% endblock body %}

