{% extends 'base.html' %}
{% block title %}All Event{% endblock title %}
{% load static %}
{% block join_css %}
<link rel="stylesheet" href="{% static 'css/show_crud.css' %}">
{% endblock join_css %}


{% block body %}

<div style="margin-bottom: 70px;">
<h1 class="text-center" style="margin-top: 10px;">
  All Event
</h1>

  <table class="table table-success table-striped" style="width:95%; margin: auto; text-align: center; margin-top: 50px;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Owner</th>
        <th scope="col">Event Title</th>
        <th scope="col">Event Data</th>
        <th scope="col">Event Time</th>
        <th scope="col">Total Seat</th>
        <th scope="col">Available Seat</th>
        <th scope="col">Details Event</th>
        <th scope="col">Registration Event</th>

      </tr>
    </thead>
    <tbody>
      {% for event_data in all_events %}
      <tr>      
          <th scope="row">{{ event_data.event.id }}</th>
          <td>{{ event_data.event.eventUser}}</td>
          <td>{{ event_data.event.eventTitle }}</td>
          <td>{{ event_data.event.eventDate }}</td>
          <td>{{ event_data.event.eventTime }}</td>
          <td>{{ event_data.event.totalSeat }}</td>
          <td>{{ event_data.available_seat }}</td>
          <td><a href="{% url "event_details" event_data.event.id %}" class="btn btn-primary">Event Details</a></td>
  
          {% if event_data.available_seat <= 0 %}
              <td><button class="btn btn-primary" disabled>Registration</button></td>
          {% else %}
             <td><a href="{% url "event_register" event_data.event.id %}" class="btn btn-primary">Registration</a></td>             
          {% endif %}
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}